$blue-light: #1877f2;
$green: #609e4d;
$red: #de5246;

.bg- {
  &blue-light {
    background-color: $blue-light;
    color: white;
  }
  &green {
    background-color: $green;
    color: white;
  }
  &red {
    background-color: $red;
    color: white;
  }
}

.text- {
  &blue-light {
    color: $blue-light;
  }
}

.h- {
  &1 {
    height: 1rem !important;
  }
  &2 {
    height: 1.2rem !important;
  }
  &3 {
    height: 1.5rem !important;
  }
  &4 {
    height: 1.5rem !important;
  }
  &5 {
    height: 1.5rem !important;
  }
}

.font-size- {
  &small {
    font-size: 0.8rem;
  }
}
